@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html,
body {
    height: 100%;
    font-family: 'Jost', sans-serif;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 2.5rem;
    color: white;
    padding: 1rem;
    background-color: #0284c7;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.3rem;
    display: grid;
    gap: 2rem;
}

.header {
    grid-column-start: 2;
    background-color: white;
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr auto;
    padding: 1rem 4rem;
    position: relative;
    box-shadow: 2px 2px 6px rgb(112, 112, 112);
}

.row1 {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.row1 div {
    display: flex;
    gap: 1rem;
}

.search {
    flex: 1;
    border: none;
    box-shadow: 0 0 0.5rem gray;
    border-radius: 2rem;
    padding: 0 2rem;
    font-size: 1.5rem;
}

input[type='text']:focus {
    outline: none;
    box-shadow: 0 0 0.5rem black;
}

input::placeholder {
    opacity: 0.5;
}

img {
    width: 2.5rem;
}

.bigger {
    width: 5rem;
}

.row2 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hi {
    flex: 1;
}

.hi h1, h4 {
    margin: 0;
}

button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #0284c7;
    color: white;
}

button:hover {
    background-color: rgb(0, 108, 161);
}

.content {
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-template-columns: 3fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.projects {
    grid-row: 1 / span 2;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}

.card {
    background-color: white;
    border: none;
    border-radius: 1rem;
    padding: 2rem 2rem;
    border-right: 5px solid #0284c7;
    border-bottom: 5px solid #0284c7;
}

.announcements .card {
    font-size: 0.85rem;
    border-right: 5px solid rgb(255, 115, 0);
    border-bottom: 5px solid rgb(255, 115, 0);
}

.trending .card {
    font-size: 0.85rem;
    border-right: 5px solid rgb(153, 0, 255);
    border-bottom: 5px solid rgb(153, 0, 255);
}

.divider {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    gap: 1rem;
}

.profile p {
    margin: 0;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.projects img {
    width: 2rem;
}

.projects .icon {
    justify-content: flex-end;
}
