html,
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 2.5rem;
    color: white;
    padding: 1rem;
    background-color: blue;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.3rem;
    display: grid;
    gap: 3rem;
}

.header {
    grid-column-start: 2;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 2rem 4rem;
}

.row1 {
    display: flex;
    gap: 2rem;
}

.search {
    flex: 1;
    border: none;
    box-shadow: 0 0 0.5rem gray;
    border-radius: 2rem;
    padding: 0 2rem;
    font-size: 1.5rem;
}

input::placeholder {
    opacity: 0.5;
}

img {
    width: 2.5rem;
}