html,
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 2.5rem;
    color: white;
    padding: 1rem;
    background-color: blue;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.3rem;
    display: grid;
    gap: 3rem;
}

.header {
    grid-column-start: 2;
    background-color: white;
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr auto;
    padding: 1rem 4rem;
    position: relative;
    box-shadow: 2px 2px 6px rgb(112, 112, 112);
}

.row1 {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.row1 div {
    display: flex;
    gap: 2rem;
}

.search {
    flex: 1;
    border: none;
    box-shadow: 0 0 0.5rem gray;
    border-radius: 2rem;
    padding: 0 2rem;
    font-size: 1.5rem;
}

input[type='text']:focus {
    outline: none;
    box-shadow: 0 0 0.5rem black;
}

input::placeholder {
    opacity: 0.5;
}

img {
    width: 2.5rem;
}

.bigger {
    width: 5rem;
}

.row2 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hi {
    flex: 1;
}

.hi h1, h4 {
    margin: 0;
}

button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: blue;
    color: white;
}

button:hover {
    background-color: rgb(0, 0, 189);
}

.content {
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    padding: 2rem;
}

.projects {
    grid-row: 1 / span 2;
}